body {
	background: #26272b;
}

a,
a:visited,
a:hover {
	color: #ffffff;
}

a img {
	border: 0;
}

#wrapper {
	width: 700px;
	margin: 0px auto;
}

#menu {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: block;
	width: 700px;
	height: 53px;
	background: url(../images/menu.png);
}

#menu li {
	float: left;
	display: inline-block;
}

#menu li a {

}