---
layout: default
---
		<div class='page white top'>

			<div class='header'>

				{% include top.html %}

			</div>
			<div class='background'>

				<div class='content'>

					<h2>{{site.posts[0].title}}</h2>
					<h4><em>Posted on {{site.posts[0].date | date: "%d %B %Y"}} by William Blanchette</em></h4>

					<p>
					{{site.posts[0].content}}
					</p>

				</div>

			</div>
			<div class='footer'>
			</div>
			<div id="post-nav">
				{%if site.posts[0].previous %}<div class="nav-older"><a href="{{site.posts[0].previous.url}}">&lt; Previous</a></div>{%endif%}
				{%if site.posts[0].next %}<div class="nav-newer"><a href="{{site.posts[0].next.url}}">Next &gt;</a></div>{%endif%}
			</div>