@import '../../styles/util';

.tool {
  width: 775px;
  max-width: 100%;
  margin: 0 auto;

  .description {
    font-size: 20px;
  }

  h2 {
    @include sans;

    display: block;
    float: left;
    clear: both;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: -0.07px;
    text-transform: uppercase;
    margin: 20px 0;

    &:after {
      content: " —";
    }
  }

  .block {
    font-size: 20px;
    float: left;
    clear: left;
    max-width: 100%;
  }

  .preview {
    @extend .block;
  }

  .code {
    @extend .block;

    code {
      font-size: 20px;
    }
  }

  .block + .block {
    margin-top: 10px;
  }

  .form {
    .row {
      & + .row {
        margin-top: 10px;
      }

      label {
        width: 125px;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
      }

      input {
        width: 100px;
      }

      input[type=text] {
        padding: 5px;
        border-radius: 4px;
        outline-color: #6BA1A3;
        border: 1px solid rgba(#24292e, 0.25);
        box-shadow: none;
      }
    }
  }
}
