@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  min-height: 100vh;
  background: #fff;
  font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
}

@mixin sans {
  font-family: Poppins, "Century Gothic", CenturyGothic, Arial, sans-serif
}

.site-header {
  display: block;
  text-align: center;
  padding: 20px 0;

  .logo {
    font-size: 40px;
    letter-spacing: 0.29px;
    text-transform: lowercase;
    cursor: pointer;
    text-decoration: none;
  }
}

.site-content {
  padding: 0 20px 20px 20px;
  overflow: hidden;
  animation: fade-in 0.5s linear forwards;
}

* {
  box-sizing: border-box;
  color: rgba(#000, 0.7);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
