@import '../styles/util';

.index {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  padding: 20px 0;

  .wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 475px;
  }

  .text {
    @include sans;

    font-size: 12px;
    letter-spacing: -0.06px;
  }

  .logo {
    font-size: 40px;
    letter-spacing: 0.29px;
    text-transform: lowercase;
    margin: 0;
    line-height: 38px;
    padding: 0;
    text-shadow: 1px 1px 0 rgba(#fff, 0.6);
    pointer-events: none;
    -webkit-user-select: none;
    text-align: left;
  }

  .title {
    @include sans;

    opacity: 0.72;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: -0.09px;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .sectionHeader {
    @include sans;

    font-weight: 900;
    font-size: 14px;
    letter-spacing: -0.07px;
    text-transform: uppercase;
    margin: 20px 0;

    &:after {
      content: " —";
    }
  }

  .stats {
    width: 420px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -10px;
  }

  .stat {
    width: 140px;
    text-decoration: none;
    margin-bottom: 10px;
    position: relative;

    &.loading {
      .loadingAnimation {
        display: block;
      }
    }

    .loadingAnimation {
      position: relative;
      display: none;
      position: absolute;
      left: 15px;
      top: 30px;
      margin-left: -11px;
      margin-top: -3px;

      &, &:before, &:after {
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: rgba(#000, 0.5);
          animation: loading 1.3s linear infinite;
      }

      &:before {
          content: "";
          display: inline-block;
          position: absolute;
          left: 8px;
          top: 0;
          animation-delay: -1.1s;
      }

      &:after {
          content: "";
          display: inline-block;
          position: absolute;
          left: 16px;
          top: 0;
          animation-delay: -0.9s;
      }
    }

    &:hover {
      h1 {
        text-shadow: 0 5px 0 darkorange;
        transform: translateY(-5px);
      }
    }

    h1 {
      @include sans;

      font-weight: 900;
      font-size: 48px;
      letter-spacing: -0.25px;
      margin: 0;
      transition: text-shadow 0.15s, transform 0.15s;
      line-height: 48px;
      min-height: 48px;
    }

    h2 {
      @include sans;

      font-weight: 400;
      font-size: 13px;
      letter-spacing: -0.07px;
      margin: 0;
    }
  }

  .articles {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      & + li {
        margin-top: 5px;
      }
    }
  }

  .articles, .contact {
    margin-top: -10px;

    a {
      @include sans;

      display: inline-block;
      font-size: 12px;
      letter-spacing: -0.06px;
      text-decoration: none;
      transition: color 0.25s;

      .meta {
        font-weight: 100;
      }

      &:hover {
        animation: bump 0.25s ease-in-out;

        &, .meta {
          color: darkorange;
        }
      }
    }
  }

  @media (max-width: 550px) {
    .cols {
      flex-direction: column;
    }

    .col:first-child {
      width: auto;
      margin-right: 0;
      margin-bottom: 25px;
    }

    .logo {
      text-align: left;
    }

    .title {
      text-align: left;
    }
  }
}

@keyframes bump {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes loading {
	0%, 60%, 100% {
		transform: translateY(0);
	}

	30% {
		transform: translateY(-5px);
	}
}

@media (max-width: 480px) {
  .index {
    align-items: flex-start;
  }
}
