@import '../components/Layout';

$desktopRatio: percentage(9/16);
$mobileRatio: percentage(16/9);

section.portfolio {
  .sites {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
  }

  nav {
    display: flex;
    justify-content: center;

    button {
      background: #eee;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      color: transparent;
      outline: none;
      cursor: pointer;
      transition: all 0.15s;
      border: 0;
      position: relative;

      &:before {
        // Provide larger hover area
        content: "";
        display: block;
        position: absolute;
        width: 25px;
        height: 25px;
        left: -5px;
        top: -5px;
      }

      &:hover {
        box-shadow: 0 3px 0 darkorange;
        transform: translateY(-3px);
      }

      &.active {
        background: #bbb
      }

      & + button {
        margin-left: 10px;
      }
    }
  }

  button.close {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }

  &.fullscreen {
    button.close {
      display: inline-block;
    }
  }

  .site {
    h1 {
      @include sans;

      font-weight: 900;
      font-size: 14px;
      letter-spacing: -0.07px;
      text-transform: uppercase;
      margin: 20px 0;
    }

    p {
      font-size: 20px;
      max-width: 100%;
    }

    .stack {
      list-style: none;
      margin-left: -5px;
      margin-bottom: 15px;

      li {
        @include sans;

        font-size: 12px;
        color: #fff;
        background: rgba(#000, 0.5);
        padding: 5px 15px;
        border-radius: 50px;
        display: inline-block;
        margin: 0 5px 10px 5px;
      }
    }

    .page {
      .overlay {
        background: rgba(#000, 0.5);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        visibility: hidden;
      }
    }

    // Not fullscreen
    // ****************

    &:not(.fullscreen) {
      padding-bottom: 40px;

      nav {
        margin-top: 50px;
      }

      .page {
        display: none;
        position: relative;

        &.active {
          display: block;
        }
      }

      .screenshot {
        border-color: #eee;
        border-style: solid;;
        border-radius: 10px;
        position: relative;
        box-shadow: -6px 0 0 #aaa, 0 0 50px rgba(#000, 0.2);
        background: #fff;
        cursor: -moz-zoom-in;
        cursor: -webkit-zoom-in;
        cursor: zoom-in;
        transition: transform 0.15s;

        &.desktop {
          width: 80%;
          border-width: 10px;
          position: relative;
          z-index: 0;
          margin-left: 10%;
          margin-bottom: 20px;

          &:before {
            content: "";
            display: block;
            width: 125%;
            height: 20px;
            position: absolute;
            left: -12.5%;
            bottom: -30px;
            background: #888;
            border-bottom: 10px solid #eee;
            z-index: 1;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: 0 0 50px rgba(#000, 0.2);
          }

          .inner {
            padding-top: $desktopRatio;
          }
        }

        &.mobile {
          width: 20%;
          border-width: 4px;
          position: absolute;
          right: -10px;
          bottom: -40px;

          .inner {
            padding-top: $mobileRatio;
          }
        }

        .inner {
          position: relative;
          overflow: hidden;
        }

        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          transition: all 1.5s;
        }

        &:hover {
          transform: scale(1.05);

          img {
            transform: translateY(-100%);
            top: 100%;
          }
        }
      }
    }

    // Fullscreen
    // ****************

    &.fullscreen {
      .page {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        display: none;

        &.active {
          display: block;
        }

        .overlay {
          visibility: visible;
        }
      }

      nav {
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 2;
      }

      .screenshot {
        height: 100%;
        display: none;
        overflow-y: overlay;
        max-width: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        animation: fullscreen 0.3s ease-out;

        &.active {
          display: block;
        }

        &.desktop {
          width: 1440px;
        }

        &.mobile {
          width: 375px;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}

@keyframes fullscreen {
  from {
    opacity: 0;
    transform: scale(0.3);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
