<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0  Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">

<base href="{{site.url}}"/>

<title>{% if page.title %} {{ page.title }} | {% endif %} Collective Cognition</title>

<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
<meta name="robots" content="index, follow" />
<meta charset=utf-8 />

<meta name="description" content="Collective Cognition designs and develops engaging web and mobile experiences." />
<meta name="keywords" content="collective, cognition, web, design, developemtn, css, html, site, mobile, apps, apple, iphone, ios" />
<meta name="author" content="William Blanchette, Collective Cognition" />

<script type="text/javascript" src="/js/shadowbox-inlined-min.js"></script>
<script type="text/javascript">Shadowbox.init();</script>

<link rel="shortcut icon" href="{{site.production_url}}/favicon.ico" />
<link rel="stylesheet" href="{{site.production_url}}/css/style.css" media="screen,projection" type="text/css" />

<!--<link rel="alternate" href="http://collectivecognition.com/feed/" title="RSS Feed" type="application/rss+xml" />-->

<link href="https://plus.google.com/112066706442483184529/" rel="publisher" />

</head>

<body>

	<div id='wrapper'>
	
		<div class="bar light">
			<div class="container">
				<div id="content">
					{{content}}
				</div>
			</div>
		</div>
		
		<div id='footer'>&copy; {{site.time | date: "%Y"}} Collective Cognition, all rights reserved</div>

	</div>

</body>

</html>