---
layout: default
---
		<div class='page white top'>
			
			<div class='header'>
			
				{% include top.html %}
				
			</div>
			<div class='background'>
			
				<div class='content'>
					
					<h2>{{page.title}}</h2>
					<h4><em>Posted on {{page.date | date: "%d %B %Y"}} by William Blanchette</em></h4>
					
					<p>
					{{content}}
					</p>
				
				</div>
			
			</div>
			<div class='footer'>
			</div>
			<div id="post-nav">
				{%if page.previous %}<div class="nav-older"><a href="{{page.previous.url}}">&lt; Previous</a></div>{%endif%}
				{%if page.next %}<div class="nav-newer"><a href="{{page.next.url}}">Next &gt;</a></div>{%endif%}
			</div>